#beauty-contest-title {
	margin-top: 100px;
	color: #ffd700;
	font-size: 1.5rem;
	text-decoration: underline;
}

.beauty-contest-name {
	font-size: 1.2em;
	font-weight: 300;
	color: #ffd700;
}

.beauty-details-button {
	border-radius: 10px;
	background-color: #ffd700;
	color: white;
}

.beauty-details-button:hover {
	color: white;
	background-color: #d4af37;
}

.beauty .ugly-button {
	color: #970004;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	font-weight: 800;
}

.beauty .ugly-button:hover {
	color: #6b010e;
	cursor: pointer;
}

.beauty .axies {
	flex-wrap: wrap;
}
